MONGODB_URI=
MAILGUN_APIKEY=
NODE_ENV='development'
JWT_ACC_ACTIVATE=
CLIENT_URL=
EMAIL_NAME=
API_PORT=3000
JWT_KEY="nazaaa"
JWT_COOKIE_EXPIRE=
JWT_SECRET=
JWT_EXPIRE=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET= 

GEOCODER_PROVIDER=
GEOCODER_API_KEY=